body {
  background-color: #171729 !important;
  .v-application {
    background-image: url("https://i.pinimg.com/originals/fb/48/79/fb4879283c9bf0a26e5e7fb6d823ba28.jpg") !important;
    background-size: 1000px !important;

  }

  .v-card {
    background-color: #5D6D7E !important;
    color: white !important;
  }
}
